html {
    height: 100%;
}

body{
    height: 100%;
    display: grid;
    margin: 0;

    grid-template-rows: 120px auto 400px;

}

header{
    background-color: #111111;
    grid-row: 1;  
}

main{
    background-color: #242424;
}

footer{
    background-color: #141414;
    grid-row: 3;

}

.HeaderMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;
}
.HeaderNav{
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 250px;
}
.nav-separador::after{
    content: "|";
    margin: 0 5px;
    color: rgb(122, 122, 122);
}
.LetrasHeader{
    padding: 5px;
    color: rgb(168, 168, 168);
}
